<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <div class="mb-md-5 mt-md-4 pb-5">

                            <h2 class="fw-bold mb-2 text-uppercase">Find Inventory</h2>

                            <div class="form-outline form-white mb-4">
                                <input type="number" id="typeEmailX" [formControl]="_id"
                                    class="form-control form-control-lg" autocomplete="off" placeholder="Id" />

                            </div>

                            <div>
                                <input class="btn btn-outline-light btn-lg px-5" type="submit" value="Find"
                                    (click)="handleGet(_id.value)">

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div>
                <table class="table table-dark text-center">
                    <thead>
                        <tr align="center">
                            <th rowspan="1">UserId</th>
                            <th rowspan="1">Product Name</th>
                            <th rowspan="1">SKU</th>
                            <th rowspan="1">Description</th>
                            <th>Price</th>
                            <th colspan="1">Stock Level</th>
                        </tr>

                    </thead>
                    <tbody >
                        <tr *ngIf="user" style="text-align: center;">
                            <td>{{user._id}}</td>
                            <td>{{user.Product_Name}}</td>
                            <td>{{user.SKU}}</td>
                            <td>{{user.Description}}</td>
                            <td>{{user.Price}}</td>
                            <td>{{user.Stock_Level}}</td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</section>