<section class="vh-100 gradient-custom">
    <form [formGroup] = "userForm" (ngSubmit) = "handleSubmit()">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
              <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                  <div class="card-body p-5 text-center">
        
                    <div class="mb-md-5 mt-md-4 pb-5">
        
                      <h2 class="fw-bold mb-2 text-uppercase">Add Inventory</h2>
                      <p class="text-white-50 mb-5">Please enter your username and password!</p>
        
                      <div class="form-outline form-white mb-4">
                        <input type="number" id="typeEmailX" formControlName = "_id" class="form-control form-control-lg" autocomplete="off" placeholder="Id" />
                        
                      </div>
        
                      <div class="form-outline form-white mb-4">
                        <input type="text" id="typePasswordX" formControlName = "Product_Name"  class="form-control form-control-lg" autocomplete="off"placeholder="Product Name" />
                        
                      </div>
                      <div class="form-outline form-white mb-4">
                        <input type="number" id="typePasswordX" formControlName = "SKU"  class="form-control form-control-lg" autocomplete="off"placeholder="SKU" />
                        
                      </div>
                      <div class="form-outline form-white mb-4">
                        <input type="text" id="typePasswordX" formControlName = "Description"  class="form-control form-control-lg" autocomplete="off"placeholder="Description" />
                        
                      </div>
                      <div class="form-outline form-white mb-4">
                        <input type="text" id="typePasswordX" formControlName = "Price"  class="form-control form-control-lg" autocomplete="off"placeholder="Price" />
                        
                      </div>
                      <div class="form-outline form-white mb-4">
                        <input type="text" id="typePasswordX" formControlName = "Stock_Level"  class="form-control form-control-lg" autocomplete="off"placeholder="Stock Level" />
                        
                      </div>
        
              
        
                      <button class="btn btn-outline-light btn-lg px-5" type="submit">Create</button>
                      
                      
        
                    
                    </div>
      
        
                  </div>
                </div>
              </div>
            </div>
          </div>

    </form>
    <div>
      <p *ngIf = "info">Info:{{info | json}}</p>
  </div>
    
  </section>